<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="nube_newEntities" connectionString="metadata=res://*/NubeNewModel.csdl|res://*/NubeNewModel.ssdl|res://*/NubeNewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\denariusoft;initial catalog=nube_new;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="nubebfsv1Entities" connectionString="metadata=res://*/NubeOldModel.csdl|res://*/NubeOldModel.ssdl|res://*/NubeOldModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\denariusoft;initial catalog=nube_old01;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FMCG_Old01Entities" connectionString="metadata=res://*/DMFMCGOLDModel.csdl|res://*/DMFMCGOLDModel.ssdl|res://*/DMFMCGOLDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BIZSERVER\DENARIUSOFT;initial catalog=FMCG_Old01;persist security info=True;user id=sa;password=abc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="FMCG_New01Entities" connectionString="metadata=res://*/DBFMCGNEWModel.csdl|res://*/DBFMCGNEWModel.ssdl|res://*/DBFMCGNEWModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BIZSERVER\DENARIUSOFT;initial catalog=FMCG_New01;user id=sa;password=abc;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>